
/*------------------------- Core Css -------------------*/

.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 280px;
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
}

.sbar_collapsed.page-container {
    padding-left: 0;
}

.card {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02);
}

.card-body {
    padding: 25.6px;
    padding: 1.6rem;
}

.h-full {
    height: 100%;
}

.main-content {
    width: 100%;
    background: #F3F8FB;
}

.main-content-inner {
    padding: 0 30px 50px;
}

/*------------------------- END Core Css -------------------*/


/*-------------------- Sidebar Menu -------------------*/

.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 280px;
    overflow: hidden;
    background: #303641;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.sbar_collapsed .sidebar-menu {
    left: -280px;
}

.main-menu {
    height: calc(100% - 100px);
    overflow: hidden;
    padding: 20px 10px 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.menu-inner {
    overflow-y: scroll;
    height: 100%;
}

.slimScrollBar {
    background: #2942fa!important;
    opacity: 0.1!important;
}

.sidebar-header {
    padding: 19px 32px 20px;
    background: #303641;
    border-bottom: 1px solid #343e50;
}
.sidebar-menu .logo{
    text-align: center;
}
.logo span {
    display: inline-block;
    max-width: 120px;
}

.metismenu >li >a {
    padding-left: 32px!important;
}
.metismenu li a {
    position: relative;
    display: block;
    color: #8d97ad;
    font-size: 15px;
    text-transform: capitalize;
    padding: 15px 15px;
    letter-spacing: 0;
    font-weight: 400;
}

.metismenu li a i {
    color: #6a56a5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.metismenu li a:after {
    position: absolute;
    content: '\f107';
    font-family: fontawesome;
    right: 15px;
    top: 12px;
    color: #8d97ad;
    font-size: 20px;
}

.metismenu li.active>a:after {
    content: '\f106';
}

.metismenu li a:only-child:after {
    content: '';
}

.metismenu li a span {
    margin-left: 10px;
}

.metismenu li.active>a,
.metismenu li:hover>a {
    color: #fff;
}

.metismenu li li a {
    padding: 8px 20px;
}

.metismenu li ul {
    padding-left: 37px;
}

.metismenu >li:hover>a,
.metismenu >li.active>a {
    color: #fff;
    background: #343942;
}

.metismenu li:hover>a,
.metismenu li.active>a {
    color: #fff;
}

.metismenu li:hover>a i,
.metismenu li.active>a i {
    color: #fff;
}

.metismenu li li a:after {
    top: 6px;
}

/*-------------------- END Sidebar Menu -------------------*/

/*--------------- START Manage Appointment ----------------*/

.card .add-btn button{
    margin-bottom: 2rem;
}


/*----------------- END Manage Appointment ----------------*/


