.contact form{
    border-radius: .5rem;
    background-color: #eee;
    margin:0 auto;
    max-width: 30rem;
 }
 
 .contact form .box{
    width: 100%;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border-radius: .5rem;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left:7px;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
 }
 
 .contact form span{
    font-size: 1.4rem;
    color: #333;
 }

 .contact form button{
    font-size: 1rem;
    margin-left: 12rem;
 }

 footer .credit{
   text-align: center;
   border-top: .2rem solid rgba(0,0,0,.1);
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-top: 1.5rem;
   font-size: 1.3rem;
   color:#666 ;
}

footer .credit span{
   color:#00b8b8;
}

 